@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Open+Sans:wght@400;500;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

header{
    display: inline-block;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 2%;
    top: 0;
    left: 0;    
    width: 100%;
    background-color: rgba(40, 39, 38, .8);
    z-index: 9;
    position: fixed;
    vertical-align: middle;
    line-height: 40px;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover, .nav__links li a.active {
    color: rgba(215, 63, 43, 0.863);
}

li, a, button{
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #e1e1e1;
    text-decoration: none;
    cursor: pointer;
}

button{
    padding: 9px 25px;
    background-color: rgb(143, 17, 1);
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    margin-left: 10px;
    
}

#home{
    padding: 250px 50px;
    display: flex;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 48px;
    background: linear-gradient(to top, rgba(40, 39, 38, 1) 0%,rgba(40, 39, 38, .7) 10%,rgba(40, 39, 38, .2) 40%,rgba(40, 39, 38, .10) 70%, rgba(255, 255, 255, .8) 100%), url('./images/background_cover_silas_schnider.jpg');
    background-size: cover;
    background-position: 0% 40%;
    color: #f3f3f3; 
}

section{
    padding: 50px 50px;
    display: grid;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #d8d8d8;   
    order: 2;
    position: relative;
    width: 100%;
    background-color: rgba(40, 39, 38);
}

#self{
    position: absolute;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: #edf0f1; /* change colors of all subdivs when come back*/
}

div2 {
    color: rgb(202, 38, 13);
}

h1 {
    font-weight: 500;
    color: rgb(125, 38, 26);
}

h2 {
    font-size: 22px;
    font-weight: 300;
    color: rgb(202, 140, 126);
}
#nav__links__right{
    float: right;    
}

#about{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #edf0f1;   
}
ul{
    padding: 0px 50px;
}

#resume{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #edf0f1;  
}

#intro{
    background: linear-gradient(to top, rgba(40, 39, 38, 1) 0%,rgba(40, 39, 38, .7) 10%,rgba(40, 39, 38, .2) 40%,rgba(40, 39, 38, .10) 70%, rgba(255, 255, 255, 0) 100%), url(images/background_steven_kamenar.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    padding: 300px 50px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    color: rgb(244, 244, 244);  
    font-size: 60px;
    display: flex;
    align-items: center;
}

#blob{
    background-color: rgb(6, 39, 9);
    padding: 50px 50px;
    box-shadow: 0 10px 5px 5px rgba(0,0,0, .5);
    animation: animate 10s ease-in-out infinite;
    transition: all 1.5s ease-in-out;
    border-radius: 70% 30% 40% 60%/ 40% 70% 30% 60%;
    display: flex;
    align-items: center;
}

@keyframes animate{
    0%{
        border-radius: 60% 40% 30% 70%/ 60% 30% 70% 40%;
    }
    25%{
        border-radius: 50% 60% 50% 50%/ 60% 60% 70% 70%;
    }
    50%{
        border-radius: 70% 30% 40% 60%/ 40% 70% 30% 60%;
    }
    75%{
        border-radius: 50% 60% 50% 50%/ 60% 60% 70% 70%;
    }
    100%{
        border-radius: 60% 40% 30% 70%/ 60% 30% 70% 40%;
    }
}
